footer {
  width: 100%;
  height: 4rem;
  background-color: var(--light-black);
  color: var(--dirty-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: sticky;
  bottom: 0;
  left: 0;*/
}

.footer-elements {
  display: flex;
  align-items: center;
  font-family: var(--font-dosis);
  font-weight: 700;
}
.icons {
  color: var(--dirty-white);
  height: 24px;
  width: 24px;
  transition: ease-in 0.2s;
}

.icons:hover {
  color: var(--orange-accent);
}

.m-r-8 {
  margin-right: 8px;
}

.link-list {
  display: flex;
}
